@font-face {
  font-family: Gilroy;
  src: url(./fonts/Gilroy-Black.woff2);
}

@font-face {
  font-family: Gilroy-sbold;
  src: url(./fonts/Gilroy-SemiBold.woff2);
}

@font-face {
  font-family: Gilroy-light;
  src: url(./fonts/Gilroy-Light.woff2);
}

@font-face {
  font-family: Gilroy-thin;
  src: url(./fonts/Gilroy-Thin.woff2);
}

@font-face {
  font-family: Gilroy-med;
  src: url(./fonts/Gilroy-Medium.woff2);
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: auto;
  width: 100vw;
  position: relative;
  cursor: none;
}


/*______________________________________________  */

/* Pre Loader */

#main {
  background-color: #1C1D20;
}

.preloader {
  z-index: 1999;
  height: 100vh;
  width: 100vw;
  background-color: #1C1D20;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  transition: all ease-out 0.5s;
}

.preloader i {
  color: #999D9E;
  font-size: 11px;
}

.preloader h2 {
  font-family: Gilroy-med;
  color: #e8e8e8;
  font-size: 40px;
}


/* page 1 ------------------------------------------ */

.page1 {
  height: 100vh;
  width: 100vw;
  background-color: #c8c8c8;
  position: relative;
  overflow: hidden;
  opacity: 0;
  transition: all ease 0.8s;
}

.page1 nav {
  display: flex;
  justify-content: space-between;
  padding: 2.7vw;
}

.page1 nav a {
  text-decoration: none;
  color: #000;
  font-size: 19px;
  font-family: Gilroy-sbold;
}

.page1 nav .right .magnet a::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 2px;
  width: 100%;
  transition: 0.3s;
  border-radius: 25px;
  transform: scaleX(0);
  background: #861111;
}

.page1 nav .right .magnet a:hover::before {
  transform: scaleX(1);
}

.page1 nav .right i {
  color: #000;
  font-size: 30px;
}

.page1 nav .left .cright {
  display: flex;
  gap: 5px;
  align-items: center;
}

.page1 nav .right {
  display: flex;
  gap: 3vw;
}

.page1 img {
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.page1 .bg {
  z-index: 9;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background-color: #999d9e;
}

.marquee {
  position: absolute;
  bottom: 10vh;
  left: 0;
  color: #000;
  padding: 30px 0;
  text-transform: uppercase;
  overflow: hidden;
  display: flex;
  gap: 65vw;
}

.marqinner {
  display: flex;
  width: fit-content;
  flex: auto;
  flex-direction: row;
}

.marqpart {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 0 4px;
  ;
}

.marqpart h1 {
  font-family: Gilroy;
  font-size: 11vw;
}

.arrow {
  width: 60px;
  height: 80px;
  margin: 0 1rem;
}

.arrow i {
  font-size: 5vw;
}


.page1 .locate {
  position: absolute;
  right: 0;
  top: 50%;
  display: flex;
  background-color: #1C1D20;
  color: #fff;
  padding: 20px 60px 20px 20px;
  gap: 45px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.page1 .locate .right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
}

.page1 .locate .right h3 {
  font-family: Gilroy-light;
  font-size: 18px;
  color: #fff;
}

.page1 .locate .left {
  background-color: #999D9E;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  border-radius: 100px;
}

.page1 .locate .left i {
  font-size: 30px;
}

.page1 .job {
  display: flex;
  flex-direction: column;
  gap: 13vh;
  color: #000;
  position: absolute;
  top: 25%;
  left: 55%;
}

.page1 .job .top i {
  font-size: 30px;
}

.page1 .job .bottom h2 {
  font-family: Gilroy-light;
  font-size: 40px;
}

.page1 .menu {
  z-index: 1000;
  position: absolute;
  top: 0;
  opacity: 0;
  right: -38%;
  border-top-left-radius: 700px;
  border-bottom-left-radius: 700px;
  background-color: #1C1D20;
  color: #fff;
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5%;
  overflow: hidden;
  transition: "all ease 0.05s"
}

.page1 .menu .close {
  position: absolute;
  top: 6vh;
  right: 10%;
}

.page1 .menu .close i {
  color: #c5c5c5;
  font-size: 2vw;
}

.page1 .menu .top {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.page1 .menu .top h5 {
  color: #c5c5c5;
  border-bottom: 1px solid #9e9e9e;
  font-family: Gilroy-sbold;
  font-size: 12px;
  padding: 10px 0;
  margin: 2vh 0;
}

.page1 .menu .top a {
  font-family: Gilroy-sbold;
  font-size: 6vh;
  text-decoration: none;
  color: #fff;
  position: relative;
}

.page1 .menu .top a::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 2px;
  width: 100%;
  transition: 0.3s;
  border-radius: 25px;
  transform: scaleX(0);
  background: #c5c5c5;
}

.page1 .menu .top a:hover::before {
  transform: scaleX(1);
}

.page1 .menu .bottom {
  display: flex;
  gap: 1.5vw;
}

.page1 .menu .bottom .card {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.page1 .menu .bottom .card h5 {
  font-family: Gilroy-light;
  font-size: 12px;
  text-transform: uppercase;
  color: #c5c5c5;
  cursor: default;
}

.page1 .menu .bottom .card a {
  text-decoration: none;
  color: #fff;
  font-family: Gilroy-sbold;
  text-transform: capitalize;
  font-size: 18px;
  letter-spacing: -1px;
}

.page1 .menu .top .work {
  display: flex;
  align-items: center;
  gap: 25px;
}

.page1 .menu .top .work i {
  font-size: 15px;
}



/* page 2 ------------------------------------------ */

.page2 {
  width: 100%;
  padding: 20vh 16vh 5vh 16vh;
  position: relative;
  background-color: #e8e8e8;
}

.page2 .work {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page2 .work .disc {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-family: Gilroy-med;
  margin-bottom: 20vh;
}

.page2 .work .disc .left {
  width: 50%;
  font-size: 40px;
}

.page2 .work .disc .right {
  width: 20%;
  font-size: 20px;
}

.page2 .work .container .conthead h5 {
  font-family: Gilroy-thin;
  font-size: 20px;
}

.page2 .work .container .conthead {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 4vh 0;
}

.page2 .work .container .conthead .left {
  width: 50%;
}

.page2 .work .container .conthead .right {
  width: 20%;
}

.page2 .work .container .card {
  width: 100%;
  border-top: 1px solid #c5c5c5;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.page2 .work .container .card .left {
  width: 100%;
  padding: 80px 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.page2 .work .container .card .left h1 {
  font-family: Gilroy-sbold;
  font-size: 100px;
  text-transform: uppercase;
}

.page2 .work .container .card .left img {
  opacity: 0;
  height: 90%;
  z-index: 999;
  position: absolute;
  transform: translate(-83%, -50%);
  transition: all ease 0.1s;
}

.page2 .work .container .card .left a {
  opacity: 0;
  height: fit-content;
  width: fit-content;
  background-color: #000;
  text-decoration: none;
  z-index: 9999;
  position: absolute;
  transition: all ease 0;
  font-family: Gilroy-sbold;
  font-size: 20px;
  border-radius: 100px;
  padding: 20px 16px;
  color: #fff;
  transform: translate(-280%, -50%);
  ;
}

.page2 .work .container .card .left h3 {
  font-family: Gilroy-light;
  font-size: 20px;
  text-transform: capitalize;
}

.page2 .work .workbtn {
  color: #1C1D20;
  background: #fff;
  border: 1px solid #c5c5c5;
  font-family: Gilroy-light;
  font-size: 20px;
  text-transform: capitalize;
  padding: 30px 42px;
  border-radius: 100px;
  margin-top: 10vh;
  align-self: center;
}

.page2 .work .eff {
  position: relative;
  overflow: hidden;
  background-color: #e8e8e8;
}

.page2 .work .eff a {
  color: #000;
  text-decoration: none;
  position: relative;
  z-index: 9;
  transition: all ease 0.3s;
}

.page2 .work .eff::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #000;
  position: absolute;
  bottom: -100%;
  left: 0;
  border-radius: 50%;
  transition: all ease 0.3s;
}

.page2 .work .eff:hover::after {
  bottom: 0;
  border-radius: 0;
  color: #fff;
}

.page2 .work .eff:hover a {
  color: #fff;
}

.page2 .about {
  position: absolute;
  top: 18%;
  right: 20%;
  height: 10vw;
  width: 10vw;
  background-color: #e8e8e8;
  border: 1px solid #999D9E;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.page2 .about a {
  text-decoration: none;
  color: #1C1D20;
  font-family: Gilroy-med;
  font-size: 23px;
  transition: ease 0.3s;
}

.page2 .about::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #000000;
  position: absolute;
  bottom: -100%;
  left: 0;
  border-radius: 50%;
  transition: all ease 0.3s;
  transition: ease 0.35s;
}

.page2 .about:hover::after {
  bottom: 0;
  border-radius: 0;
  color: #fff;
}

.page2 .about:hover a {
  color: #fff;
  z-index: 1;
}

/* page 3-------------------------------- */

.page3 {
  width: 100%;
  overflow: hidden;
  background-color: #e8e8e8;
}

.page3 .container2 {
  height: 100vh;
  width: 100%;
  /* background-color: cadetblue; */
  display: flex;
  gap: 3vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page3 .container2 .card {
  height: 350px;
  width: 500px;
  background-size: cover;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page3 .container2 .card img {
  width: 100%;
}

.page3 .container2 .top {
  display: flex;
  gap: 3vw;
}

.page3 .container2 .bottom {
  display: flex;
  gap: 3vw;
}

/* page 4-------------------------- */

.page4 {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #1C1D20;
  display: flex;
  justify-content: center;
}

.page4 .contact {
  display: flex;
  flex-direction: column;
  gap: 8vh;
  color: #fff;
  width: 70%;
  margin-top: 16vh;
}

.page4 .contact .top {
  display: flex;
  flex-direction: column;
}

.page4 .contact .top h2 {
  font-family: Gilroy-light;
  font-size: 6vw;
  letter-spacing: 5px;
}

.page4 .contact .top .one img {
  height: 100px;
  border-radius: 100px;
  margin-right: 1.5vw;
}

.page4 .contact .top .one {
  display: flex;
  align-items: center;
}

.page4 .contact .top .two {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page4 .contact .top .two i {
  font-size: 30px;
  transform: rotateZ(-45deg)
}

.page4 .contact .bottom {
  border-top: 1px solid #c5c5c560;
  padding-top: 11vh;
  display: flex;
  gap: 1vw;
}

.page4 .contact .bottom .eff2 {
  font-family: Gilroy-light;
  font-size: 25px;
  border: 1px solid #d3d3d376;
  border-radius: 100px;
  padding: 25px 40px;
  position: relative;
  color: #fff;
  text-decoration: none;
  position: relative;
  z-index: 9;
  transition: all ease 0.3s;
  overflow: hidden;
}

.page4 .contact .bottom .eff2 a {
  color: #fff;
  text-decoration: none;
  position: relative;
  z-index: 9;
  transition: all ease 0.3s;
}

.page4 .contact .bottom .eff2:hover a {
  color: #000;
}

.page4 .contact .bottom .eff2::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #fff;
  position: absolute;
  bottom: -100%;
  left: 0;
  border-radius: 50%;
  transition: all ease 0.3s;
}

.page4 .contact .bottom .eff2:hover::after {
  bottom: 0;
  border-radius: 0;
}



.page4 .social {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 4vh 4vw;
}

.page4 .social .card {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.page4 .social .card h5 {
  font-family: Gilroy-light;
  font-size: 12px;
  text-transform: uppercase;
  color: #c5c5c5;
  cursor: default;
}

.page4 .social .card a {
  text-decoration: none;
  color: #fff;
  font-family: Gilroy-sbold;
  text-transform: capitalize;
  font-size: 18px;
  letter-spacing: -1px;
}

.page4 .social .left {
  display: flex;
  gap: 2.5vw;
}

.page4 .social .right {
  display: flex;
  gap: 2vw;
}


/* ----------------------------- */

@media only screen and (max-width: 576px) {
  .page1 {
    background: linear-gradient(#ffffff, #999D9E);
  }

  .page1 nav {
    margin: 3vh 1vh;
  }

  .page1 nav .right .a {
    display: none;
  }

  .page1 nav .right .menuBtn {
    z-index: 9999;
  }

  .page1 img {
    height: 50%;
    bottom: 30%;
  }

  .page1 .bg {
    bottom: 30%;
    background-color: #999D9E;
  }

  .page1 .marquee {
    bottom: 17%;
    left: 0;
    z-index: 999;
    gap: 98vw;
  }

  .page1 .marqpart h1 {
    font-size: 20vw;
  }

  .page1 .locate {
    top: 82%;
  }

  .page1 .locate .left i {
    font-size: 25px;
  }

  .page1 .locate {
    padding: 15px 40px 15px 15px;
    gap: 25px;
  }

  .page1 .locate .right {
    gap: 3px;
  }

  .page1 .job {
    gap: 5vh;
    top: 20%;
    left: 60%;
  }

  .page1 .job .top i {
    font-size: 20px;
  }

  .page1 .job .bottom h2 {
    font-size: 30px;
  }

  .page1 .menu {
    width: 70%;
    padding: 5vh 5vw;
    transition: "all ease 0.01s"
  }

  .page1 .menu .close i {
    font-size: 8vw;
  }

  /* page 2 */

  .page2 {
    padding: 10vh 5vw 5vh 5vw;
  }
  .page2 .work .disc {
    width: 100%;
    flex-direction: column;
    margin-bottom: 10vh;
    gap: 2vh;
  }
  .page2 .work .disc .left {
    width: 100%;
    font-size: 35px;
  }
  .page2 .work .disc .right {
    width: 70%;
    font-size: 19px;
  }
  .page2 .work .container .conthead h5 {
    font-size: 18px;
  }
  .page2 .work .container .conthead {
    justify-content: flex-start;
    margin: 2vh 0;
  }
  .page2 .work .container .card {
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .page2 .work .container .card .left {
    padding: 8vh 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5vh;
  }
  .page2 .work .container .card .left h1 {
    font-size: 50px;
  }
  .page2 .work .container .card .left img {
    display: none;
  }
  .page2 .work .container .card .left h3 {
    font-size: 19px;
  }
  .page2 .work .workbtn {
    font-size: 18px;
    padding: 15px 25px;
    margin-top: 5vh;
  }
  .page2 .about {
    top: 31.5%;
    height: 10vh;
    width: 10vh;
  }
  .page2 .about a {
    font-size: 19px;
  }

  /* page 3 */

  .page3 {
    width: 100%;
  }
  .page3 .container2 {
    height: auto;
    width: 100%;
    padding: 5vh 5vw;
  }

  .page3 .container2 .card {
    height: auto;
    width: 100%;
    padding: 5vh 4vw;
  }
  .page3 .container2 .card img {
    width: 100%;
  }
  .page3 .container2 .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw;
  }
  .page3 .container2 .bottom {
    display: none;
  }

  /* page 4 */

  .page4 {
    justify-content: center;
    padding: 17vh 5vw 0 5vw;
  }
  .page4 .contact {
    gap: 5vh;
    width: 100%;
    margin-top: 0;
  }
  .page4 .contact .top h2 {
    font-size: 8vw;
  }
  .page4 .contact .top .one img {
    height: 100px;
    margin-right: 0;
  }
  .page4 .contact .top .one {
    flex-direction: column;
    align-items: flex-start;
    gap: 2vh;
  }
  .page4 .contact .top .two i {
    font-size: 25px;
  }
  .page4 .contact .bottom {
    border-top: 1px solid #c5c5c560;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1vw;
  }
  .page4 .contact .bottom .eff2 {
    padding: 13px 30px;
  }
  .page4 .contact .bottom .eff2 a {
    font-size: 18px;
  }
  .page4 .social {
    align-items: flex-start;
    gap: 2vh;
  }
  .page4 .social .card h5 {
    font-size: 10px;
  }
  .page4 .social .card a {
    font-size: 15px;
    letter-spacing: 0.1px;
  }
  .page4 .social .left {
    flex-direction: column;
    gap: 3vw;
  }
  .page4 .social .right {
    gap: 2vw;
    align-self: flex-end;
  }
  .page4 .social .right .card:nth-child(2) {
    display: none;
  }

}